##################################################
# Git Ignore.
##################################################

# Filter Files
*.class
*.jar
*.war
*.ear
*.iml
*.o
*.so
*.so.*
*.a
*.a.*
*.swp
*.log
*.out
*.db
*.pc
*.tar.gz
*.asc

!src/main/**/*.jar
!src/main/**/*.tar.gz

# Maven Shade Plugin
dependency-reduced-pom.xml

# PID Files
PID

# Virtual Machine Crash Logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Build Output
target/
test-output/
allure-results/
node_modules/
dist/
out/

# Eclipse
.settings/
.project
.allure/
.cproject
.classpath
.cache-*
release.properties

# Idea
.idea/

# Subversion
.svn/

# Gradle
.gradle/

# Cargo
# Cargo.lock
