<?xml version="1.0" encoding="UTF-8"?>
<Context>
    <!-- Default set of monitored resources. If one of these changes, the    -->
    <Valve className="org.apache.catalina.valves.rewrite.RewriteValve" />
    <!-- web application will be reloaded.                                   -->
    <WatchedResource>WEB-INF/web.xml</WatchedResource>
    <WatchedResource>${catalina.base}/conf/web.xml</WatchedResource>
    <!-- H2 JDBC Resource -->
    <Resource name="${build.jdbc.jndi}" auth="Container" type="javax.sql.DataSource" maxTotal="64" maxIdle="32" maxWaitMillis="30000" username="${build.jdbc.username}" password="${build.jdbc.password}" driverClassName="${build.jdbc.driver.class}" url="${build.jdbc.url}" />
</Context>
