<?xml version="1.0" encoding="UTF-8"?>
<Context>
    <!-- Default set of monitored resources. If one of these changes, the    -->
    <!-- web application will be reloaded.                                   -->
    <WatchedResource>WEB-INF/web.xml</WatchedResource>
    <WatchedResource>${catalina.base}/conf/web.xml</WatchedResource>
    <!-- H2 JDBC Resource -->
    <Resource name="jdbc/h2" auth="Container" type="javax.sql.DataSource" maxTotal="100" maxIdle="30" maxWaitMillis="10000" username="foliage" password="secret" driverClassName="org.h2.Driver" url="jdbc:h2:./temp/foliage-db" />
</Context>
