<Server port="7005" shutdown="SHUTDOWN">
    <Listener className="org.apache.catalina.core.AprLifecycleListener" SSLEngine="on" />
    <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener" />
    <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />
    <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener" />
    <GlobalNamingResources>
        <Resource name="UserDatabase" auth="Container" type="org.apache.catalina.UserDatabase" description="User database that can be updated and saved" factory="org.apache.catalina.users.MemoryUserDatabaseFactory" pathname="conf/tomcat-users.xml" />
    </GlobalNamingResources>
    <Service name="Catalina">
        <!-- HTTP 连接配置 -->
        <Connector port="7080" protocol="HTTP/1.1" connectionTimeout="20000" redirectPort="7443" />
        <!-- HTTPS 连接配置 -->
        <Connector protocol="org.apache.coyote.http11.Http11NioProtocol" port="7443" maxThreads="200" scheme="https" secure="true" SSLEnabled="true" keystoreFile="conf/${foliage.project.name}-tomcat.jks" keystorePass="secret" clientAuth="false" sslProtocol="TLS" />
        <!-- Define an AJP 1.3 Connector on port 7009 -->
        <!-- Connector port="7009" protocol="AJP/1.3" redirectPort="7443" / -->
        <Engine name="Catalina" defaultHost="localhost">
            <Realm className="org.apache.catalina.realm.LockOutRealm">
                <Realm className="org.apache.catalina.realm.UserDatabaseRealm" resourceName="UserDatabase" />
            </Realm>
            <Host name="localhost" appBase="webapps" unpackWARs="true" autoDeploy="true">
                <Valve className="org.apache.catalina.valves.AccessLogValve" directory="logs" prefix="localhost_access_log" suffix=".txt" pattern="%h %l %u %t &quot;%r&quot; %s %b" />
            </Host>
        </Engine>
    </Service>
</Server>
